{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div style="padding-top: 150px;"></div>
<div class="main main-raised" style="padding-bottom: 180px;">
  <div class="container">
  <div class="col-sm-6 col-sm-offset-3" style="padding-top: 100px;">
<h1>{% trans "Logout" %}</h1>

<p>{% trans 'Are you sure you want to logout?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-default">{% trans 'Logout' %}</button>
</form>
<div><h2>We are so SAD to see you go....</h2></div>
</div>
</div>
</div>

{% endblock %}
