{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div style="padding-top: 150px;"></div>
<div class="main main-raised" style="padding-bottom: 180px;">
  <div class="container">
    <div style="padding-top: 110px;">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
</div>
</div>
</div>
{% endblock %}
