{% extends 'base.html' %}
{% load render_video %}

{% block title %}{% endblock %}

{% block content %}
<div  style="padding-top: 150px"></div>
    <div class="main main-raised">
        <div class="container">
            <div class="section text-center section-landing">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>{{ object.title }} {% if series.count > 1 %}<small>{{ series.count }} Series/Movies</small>{% endif %}</h2>
                        <!-- <h3 style="color: black;"></h3> -->
                        <div class="col-sm-6 col-sm-offset-6">
                            {% render_video object.video %}
                        </div>
                    </div>
                    <br>
                    <hr>

                    <div class="row">
                        {% for item in featured_series %}
                            {% include 'series/snippets/series_featured_display.html' with series=item %}
                        {% endfor %}
                        {% cycle '' '' '</div></div><div class="row"><div class="col-sm-4">' %}
                    </div>

                    <div class="row">
                        {% for item in series %}
                            {% include 'series/snippets/series_thumbnail_display.html' with series=item %}
                        {% endfor %}
                        {% cycle '' '' '</div></div><div class="row"><div class="col-sm-4">' %}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- <p> {{ video_embed|safe }} </p> -->