{% load static %}
{% load search_form %}
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <h5 style="font-family: 'Monoton', cursive;"><img src="{% static 'img/logo.png' %}" class="d-inline-block align-top" width="60" height="50" alt="Woran">Woran</h5>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <!-- <a href="">
                        Free Videos
                    </a> -->
                </li>
                <!-- <li>
                    <a href="{# url 'category_list' #}">
                        Movies
                    </a>
                </li> -->
<!--                 <li>
                    <a href="" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank" class="btn btn-simple btn-white btn-just-icon">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li> -->
                {% if request.user.is_authenticated %}
                <li>
                    {% search_form request %}
                </li>
                <li>
                    <a href="">
                        {{ user }}
                    </a>
                </li>
                <li>
                    <a class="" href="{% url 'series:list' %}">Tv - Series/Movies</a>
                </li>
                <li>
                    <a class="" href="{% url 'categories:list' %}">Categories</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle notification-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span aria-hidden="true"><i class="material-icons">add_alert</i></span></a>
                  <!-- <span class="caret"></span> -->
                  <ul class="dropdown-menu" id='notification_dropdown'>
                  </ul>
                </li>
                <li>
                    <a href="{% url 'account_upgrade' %}">
                        <i class="material-icons">unarchive</i> Upgrade
                    </a>
                </li>
                <li>
                    <a class="" href="{% url 'account_home' %}">Account</a>
                </li>
                 <li>
                    <a href="{% url 'account_logout' %}">
                        Logout
                    </a>
                </li>
                {% else %}
                    {% if request.get_full_path == "/" %}
                    {% else %}
                     <li>
                        <a href="{% url 'account_login' %}">
                            Login
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'account_signup' %}">
                            Register
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>